{% extends 'learning_logs/base.html' %}

{% block page_title %}
  <title>Learning Log | Topic</title>
{% endblock page_title %}

{% block page_header %}
  <h1>{{ topic.text }}</h1>
{% endblock page_header %}

{% block content %}

  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
  </p>

  {% for entry in entries %}
    <div class="card mb-3">
      <!-- Card header with timestamp and edit link -->
      <h4 class="card-header">
        {{ entry.date_added|date:'M d, Y H:i' }}
        <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">edit entry</a></small>
      </h4>
      <!-- Card body with entry text -->
      <div class="card-body">
        {{ entry.text|linebreaks }}
        <button class="btn btn-primary" name="delete_entry" data-entry-id="{{ entry.id }}">Delete</button>
      </div>
    </div>
  {% empty %}
    <p>There are no entries for this topic yet.</p>
  {% endfor %}

{% endblock content %}

{% block custom_javascript %}
  <script>
    function getCookie(name) {
      let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const deleteBtns = document.getElementsByName("delete_entry");
    deleteBtns.forEach((deleteBtn) => {
      deleteBtn.addEventListener("click", async () => {
        const url = document.location.origin + "/delete_entry/" + deleteBtn.getAttribute("data-entry-id") + "/";
        const csrfToken = getCookie("csrftoken");
        try {
          const response = await fetch(url, {
            method: "DELETE",
            headers: {
               'X-CSRFToken': csrfToken
            },
          });
        } catch (error) {
          console.error(error.message);
        }
      });
    });
  </script>
{% endblock custom_javascript %}