{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block page_title %}
  <title>Learning Log | Register</title>
{% endblock page_title %}

{% block page_header %}
  <h2>Create an account.</h2>
{% endblock page_header %}

{% block content %}

  <form action="{% url 'accounts:register' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Register" id="register" %}
  </form>

{% endblock content %}

{% block custom_javascript %}
<script>
  const registerBtn = document.getElementById("register");
  registerBtn.addEventListener('click', () => {
    if (window.gtag) {
      gtag('event', 'user_registration', {
        "username": document.getElementById('id_username').value
      });
    } else {
      console.warn('window.gtag is not defined');
    }
  });
</script>
{% endblock custom_javascript %}